
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
.maintype {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
/* font-family: 'Roboto', sans-serif; */
}

.subtype {
  font-family: 'PT Sans', sans-serif;
color: black;
/* font-family: 'Roboto', sans-serif; */
}

.ptfont{
  font-family: 'PT Sans', sans-serif;

}


.test{
 background-image: url("../public/ji.jpg");

}
.nextimg{
 object-fit: cover;
 border-radius: 5px;
}